# Ignore everything by default
*

# Allow only what's needed for the build
!pyproject.toml
!uv.lock
!run.py
!app/

# Re-ignore unwanted nested files
**/__pycache__/
**/*.py[cod]
**/*.so
**/.env
**/.env.*
**/README.md